:root{
    --menu_width: 250px;

    --menu_background: #252526;
    --menu_foreground: #CCCCCC;
    --menu_border: #454545;
    --selected_menu_item_color: #37373d;
    
    --paragraph_font_size: 21px;
    --paragraph_line_height: 1.3;

    --page_background: #1E1E1E;
    --page_foreground: #d4d4d4;

    --title_color: #ce9178;

    --line_number_menu_width: 90px;
    --temp_line_number_menu_color: #555555;
    --line_number_color: #858585;
    --selected_line_number_color: #c6c6c6;

    --body_padding: 340px;

    --variable_color: #9CDCFE;
    --valuetype_color: #569CD6;
    --comment_color: #6A9955;
    --function_color: #DCDCAA;

    --tab_color: #2d2d2d;

    --header_color: #3c3c3c;
    --header_height: 48px;

    --not_selected_line: #404040;
    --selected_line: #707070;



    --phone_line_number_menu_width: 90px;
    --phone_body_padding: 90px;

    --warning_color: #facd00;
}

/*Developer: Generate Color Theme From Current Settings*/

html{
    scroll-behavior:instant ;
}

.contentSection {
    padding-top: 16px;
    width: 1000px;
    margin:0%;
}

.contentSection > * {
    color: var(--page_foreground);
}

.contentSection div, textarea, input {
    font-size: var(--paragraph_font_size);
    line-height: var(--paragraph_line_height);
}

.tab{
    padding-left: 40px;
    width: 100%;
}

str {
    color: var(--title_color);
}

normal {
    color: var(--page_foreground);
}

comment {
    color: var(--comment_color);
}

variable {
    color: var(--variable_color);
}

type {
    color: var(--valuetype_color);
}

func{
    color: var(--function_color);
}

err{
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #ff4c4c;
    text-decoration-thickness: 1px;
}

bigger{
    font-weight: bolder;
    font-size: calc(var(--paragraph_font_size) + 1px);
}

warr{
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--warning_color);
    text-decoration-thickness: 1px;
}

body {
    padding-top: 40px;
    padding-left: var(--body_padding);
    font-family: "Consolas";
    background-color: var(--page_background);
    overflow-x: hidden;

    max-width: 100%;
}

ul.numbersList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: right;
}

ul.numbersList li {
    font-weight: 300;
    font-size: var(--paragraph_font_size);
    line-height: var(--paragraph_line_height);
    color: var(--line_number_color);
    padding: 0px;
    margin: 0px;
    width: 30px;
}

.sidenav {
    font-family: Arial, sans-serif;
    height: 100%;
    width: var(--menu_width);
    position: fixed;
    z-index: 2;
    top: var(--header_height);;
    left: 0;
    background-color: var(--menu_background);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-width:0px;
    border-style:solid;
    border-color:var(--menu_border);
    
    user-select: none;
    -webkit-user-drag: none;
}

.sidenav a {
    padding: 6px 0px 6px 0px;
    width: 100%;
    padding-left: 100px;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
}

.sidenav a.title {
    padding-left: 30px;
    font-size: 19px;
    font-weight: bolder;
}

.sidenav * {
    color : var(--menu_foreground);
}

.sidenav a:not(.title):hover {
    background-color: var(--selected_menu_item_color);
}

.linenumberMenu {
    height: 100%;
    width: var(--line_number_menu_width);
    position: fixed;
    z-index: 1;
    top: 0;
    left: var(--menu_width);
    background-color: var(--page_background);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-width:0px;
    border-style:solid;
    border-color:var(--menu_border);

    overflow: hidden;

    transition-duration: 0s;
}

.linenumberMenu * {
    color : var(--menu_foreground);
    display: block;
    -webkit-user-drag: none;
    user-select: none;
}

.linenumberMenu a {
    padding: 8px 0px 8px 0px;
    text-decoration: none;
    font-size: 25px;
}

/*** TABS ***/
#tabs{
    position: -webkit-sticky; /* Safari */
    position: fixed;
    left: var(--menu_width);
    top: var(--header_height);;
    z-index: 1;
    width: 100%;
    background-color: var(--menu_background);
    -webkit-user-drag: none;
    user-select: none;
}

.withshadow{
    box-shadow: 0px 5px 10px black;
}

.tablink {
    background-color: #555;
    color: var(--menu_foreground);
    font-size: var(--paragraph_font_size);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0px;
    padding: 14px 36px 14px 20px;
    font-size: large;
    width: fit-content;
}

#defaultOpen{
    color: white;
}
  
.tabcontent {
    color: white;
    display: none;
    padding: 60px 0px;
    height: 100%;
}
/***________***/


#header{
    position: -webkit-sticky; /* Safari */
    position: fixed;
    left: 0px;
    top: 0px;
    height: var(--header_height);
    z-index: 2;
    width: 100%;
    background-color: var(--header_color);
}

.stickyheader{
    position: sticky;
}

a.anchor {
    display: block;
    position: relative;
    top: -108px;
    visibility:hidden;
    width: 0px;
    height: 0px;
}

textarea.text, input.text{
    border-style: none;
    border-color: Transparent;
    overflow: auto;
    outline: none;

    resize: none;

    color: var(--title_color);
    background-color: var(--page_background);

    padding: 0px;
    margin: 0px;
}

input.text{
    height: 24px;
}

textarea.text{
    display: flex;
    line-height: var(--paragraph_line_height);
}

input.submit{
    border-style: none;
    border-color: Transparent;
    overflow: auto;
    outline: none;

    resize: none;

    color: var(--function_color);
    background-color: var(--page_background);

    text-decoration:underline;
    display:inline-block;
    
    padding: 0px;
    margin: 0px;
}

::placeholder {
    color: var(--title_color);
    opacity: 1; /* Firefox */
}

.selectedline {
    background-color: var(--selected_line);
}

.notselectedline {
    background-color: var(--not_selected_line);
}

@media screen and (orientation: portrait) {
    body {
        padding-left: var(--phone_body_padding);
        width: 100%;
    }

    :root{
        --line_number_menu_width: 60px;
        --phone_body_padding: 60px;
    }

    bigger{
        font-size: 20px;
    }

    .contentSection {
        width: 100%;
    }

    .sidenav{
        display: none;
    }

    .linenumberMenu {
        left: 0px;
        transition-duration: 0s;
    }

    #tabs {
        left: 0px;
    }

    .tablink {
        font-size: 18px;
        padding: 14px 16px 14px 16px;
    }

    h1{
        font-size: 24px;
    }

    h2{
        font-size: 21px;
    }
}
